NodeRED_Controller_Dashboard/flows.json
[{"id":"67e95ce5.7726ac","type":"tab","label":"ControllerInterface","disabled":false,"info":""},{"id":"83334634.b283f","type":"file","z":"67e95ce5.7726ac","name":"","filename":"controllerDB.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":760,"y":160,"wires":[[]]},{"id":"63ea6ced.7e5aa4","type":"comment","z":"67e95ce5.7726ac","name":"DBFormat","info":"EType;ControllerMAC;EntranceMAC;EntranceName\n\nor\n\nRType;ControllerMAC;RiderMAC;AN1Data;AN2Data\n\nor\n\nPType;ControllerMAC;PayBoxMAC;occupiedStatus;MicroSwitch","x":730,"y":120,"wires":[]},{"id":"7e3aa91e.f8814","type":"ui_switch","z":"67e95ce5.7726ac","name":"","label":"<b>Controller Status</b>","tooltip":"","group":"42dfad22.cee654","order":3,"width":5,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":500,"y":200,"wires":[[]]},{"id":"548b8ce.fdf0ff4","type":"ui_switch","z":"67e95ce5.7726ac","name":"","label":"<b>Rider Status</b>","tooltip":"","group":"42dfad22.cee654","order":5,"width":5,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":500,"y":280,"wires":[[]]},{"id":"2e36dbdb.9112d4","type":"ui_switch","z":"67e95ce5.7726ac","name":"","label":"<b>Entrance Status</b>","tooltip":"","group":"42dfad22.cee654","order":7,"width":5,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":510,"y":240,"wires":[[]]},{"id":"3869d92e.2823de","type":"ui_text","z":"67e95ce5.7726ac","group":"42dfad22.cee654","order":1,"width":27,"height":1,"name":"","label":"Hardware Status","format":"{{msg.payload}}","layout":"row-left","x":480,"y":160,"wires":[]},{"id":"62309152.242bc8","type":"inject","z":"67e95ce5.7726ac","name":"","topic":"","payload":"Everything is Online","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":80,"wires":[["3869d92e.2823de"]]},{"id":"79b78d99.e1b7e4","type":"ui_text","z":"67e95ce5.7726ac","group":"d230d6d2.5ad778","order":1,"width":14,"height":1,"name":"","label":"E_ID","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":400,"wires":[]},{"id":"f6dc798f.2e13f8","type":"ui_text","z":"67e95ce5.7726ac","group":"d230d6d2.5ad778","order":3,"width":15,"height":1,"name":"","label":"E_Scanned RFID","format":"{{msg.payload}}","layout":"row-spread","x":490,"y":440,"wires":[]},{"id":"de863866.5f818","type":"inject","z":"67e95ce5.7726ac","name":"","topic":"","payload":"000a959d6816","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":400,"wires":[["79b78d99.e1b7e4"]]},{"id":"f3c105ea.68c74","type":"inject","z":"67e95ce5.7726ac","name":"","topic":"","payload":"Jhon Doe","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":440,"wires":[["f6dc798f.2e13f8"]]},{"id":"630ba837.5486a8","type":"ui_text","z":"67e95ce5.7726ac","group":"42dfad22.cee654","order":9,"width":14,"height":1,"name":"","label":"Controller ID","format":"{{msg.payload}}","layout":"row-spread","x":490,"y":320,"wires":[]},{"id":"f707e4.5caaa02","type":"inject","z":"67e95ce5.7726ac","name":"","topic":"","payload":"991a253b68f6","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":320,"wires":[["630ba837.5486a8"]]},{"id":"2334a7b1.6c6fc","type":"ui_text","z":"67e95ce5.7726ac","group":"470d4450.20d864","order":1,"width":12,"height":1,"name":"","label":"R_ID","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":560,"wires":[]},{"id":"e06911d1.490a98","type":"ui_text","z":"67e95ce5.7726ac","group":"470d4450.20d864","order":3,"width":12,"height":1,"name":"","label":"Arduino Nano 1","format":"{{msg.payload}}","layout":"row-spread","x":260,"y":620,"wires":[]},{"id":"e47c56ca.a2645","type":"inject","z":"67e95ce5.7726ac","name":"","topic":"","payload":"333a152c6817","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":560,"wires":[["2334a7b1.6c6fc"]]},{"id":"278bb864.c1053","type":"ui_text","z":"67e95ce5.7726ac","group":"470d4450.20d864","order":8,"width":12,"height":1,"name":"","label":"R_Scanned RFID","format":"{{msg.payload}}","layout":"row-spread","x":290,"y":660,"wires":[]},{"id":"66fb635.dc0521c","type":"ui_text","z":"67e95ce5.7726ac","group":"470d4450.20d864","order":12,"width":12,"height":1,"name":"","label":"UltrasonicSensor 1","format":"{{msg.payload}}","layout":"row-spread","x":290,"y":700,"wires":[]},{"id":"cbac32e9.1b7d68","type":"ui_text","z":"67e95ce5.7726ac","group":"470d4450.20d864","order":16,"width":12,"height":1,"name":"","label":"UltrasonicSensor 2","format":"{{msg.payload}}","layout":"row-spread","x":290,"y":740,"wires":[]},{"id":"f7ef3862.979dd","type":"ui_gauge","z":"67e95ce5.7726ac","name":"","group":"470d4450.20d864","order":5,"width":6,"height":3,"gtype":"wave","title":"Battery Level","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":300,"y":820,"wires":[]},{"id":"541be3f3.ea900c","type":"inject","z":"67e95ce5.7726ac","name":"","topic":"","payload":"Mark Jhon","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":660,"wires":[["278bb864.c1053"]]},{"id":"98b32b2c.100ed","type":"inject","z":"67e95ce5.7726ac","name":"","topic":"","payload":"12 cm","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":700,"wires":[["66fb635.dc0521c"]]},{"id":"ed6f133f.a09868","type":"inject","z":"67e95ce5.7726ac","name":"","topic":"","payload":"3 cm","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":740,"wires":[["cbac32e9.1b7d68"]]},{"id":"524707e5.3dbe88","type":"inject","z":"67e95ce5.7726ac","name":"","topic":"","payload":"80","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":820,"wires":[["f7ef3862.979dd"]]},{"id":"b8d29e26.8a2b58","type":"ui_text","z":"67e95ce5.7726ac","group":"470d4450.20d864","order":18,"width":12,"height":1,"name":"","label":"Arduino Nano 2","format":"{{msg.payload}}","layout":"row-spread","x":120,"y":900,"wires":[]},{"id":"4db2d6f7.05cca8","type":"ui_button","z":"67e95ce5.7726ac","name":"","group":"470d4450.20d864","order":27,"width":10,"height":1,"passthru":false,"label":"Expand","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":1040,"wires":[[]]},{"id":"87dca00b.cef608","type":"ui_button","z":"67e95ce5.7726ac","name":"","group":"470d4450.20d864","order":29,"width":10,"height":1,"passthru":false,"label":"Shrink","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":1080,"wires":[[]]},{"id":"5419290d.ebec38","type":"ui_text","z":"67e95ce5.7726ac","group":"470d4450.20d864","order":24,"width":12,"height":1,"name":"","label":"Linear Motors","format":"{{msg.payload}}","layout":"row-spread","x":120,"y":1000,"wires":[]},{"id":"fefcb95f.3fb9f","type":"ui_text","z":"67e95ce5.7726ac","group":"470d4450.20d864","order":32,"width":12,"height":1,"name":"","label":"Rotational Motors","format":"{{msg.payload}}","layout":"row-spread","x":130,"y":1120,"wires":[]},{"id":"fecf95e.ed14268","type":"ui_button","z":"67e95ce5.7726ac","name":"","group":"470d4450.20d864","order":35,"width":10,"height":1,"passthru":false,"label":"Clockwise","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":1160,"wires":[[]]},{"id":"3bf31f0b.5bec08","type":"ui_button","z":"67e95ce5.7726ac","name":"","group":"470d4450.20d864","order":37,"width":10,"height":1,"passthru":false,"label":"Anti-clockwise","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":1200,"wires":[[]]},{"id":"bfac24ec.15ce","type":"ui_text","z":"67e95ce5.7726ac","group":"470d4450.20d864","order":40,"width":12,"height":1,"name":"","label":"Gyro Motor","format":"{{msg.payload}}","layout":"row-spread","x":110,"y":1240,"wires":[]},{"id":"917bd896.04b758","type":"ui_button","z":"67e95ce5.7726ac","name":"","group":"470d4450.20d864","order":43,"width":13,"height":1,"passthru":false,"label":"Parallel to Ground","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140.1999969482422,"y":1291.199951171875,"wires":[[]]},{"id":"7392785d.ac6eb","type":"ui_text","z":"67e95ce5.7726ac","group":"470d4450.20d864","order":46,"width":12,"height":1,"name":"","label":"Conveyor Motor","format":"{{msg.payload}}","layout":"row-spread","x":140,"y":1340,"wires":[]},{"id":"af048e61.743488","type":"ui_button","z":"67e95ce5.7726ac","name":"","group":"470d4450.20d864","order":49,"width":11,"height":1,"passthru":false,"label":"Forward","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":1380,"wires":[[]]},{"id":"1247344c.9c054c","type":"ui_button","z":"67e95ce5.7726ac","name":"","group":"470d4450.20d864","order":50,"width":11,"height":1,"passthru":false,"label":"Backward","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":1420,"wires":[[]]},{"id":"4a09d790.7fcda8","type":"ui_text","z":"67e95ce5.7726ac","group":"470d4450.20d864","order":21,"width":20,"height":1,"name":"","label":"MPU6050","format":"{{msg.payload}}","layout":"row-spread","x":340,"y":940,"wires":[]},{"id":"6fc02dfb.32217c","type":"inject","z":"67e95ce5.7726ac","name":"","topic":"","payload":"gX=22 , gY=30 , gZ=12","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":940,"wires":[["4a09d790.7fcda8"]]},{"id":"938307.e116dcf8","type":"ui_text","z":"67e95ce5.7726ac","group":"e7295501.9fafa","order":1,"width":20,"height":1,"name":"","label":"PB_ID","format":"{{msg.payload}}","layout":"row-spread","x":140,"y":1500,"wires":[]},{"id":"adcfa61c.4a5a78","type":"ui_switch","z":"67e95ce5.7726ac","name":"","label":"Occupied","tooltip":"","group":"e7295501.9fafa","order":4,"width":16,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":130,"y":1560,"wires":[[]]},{"id":"c2678320.48eb88","type":"ui_switch","z":"67e95ce5.7726ac","name":"","label":"MicroSwitch","tooltip":"","group":"e7295501.9fafa","order":7,"width":17,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":130,"y":1600,"wires":[[]]},{"id":"2e8a532a.9850e4","type":"inject","z":"67e95ce5.7726ac","name":"","topic":"","payload":"543a959d6816","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":1460,"wires":[["938307.e116dcf8"]]},{"id":"42dfad22.cee654","type":"ui_group","z":"","name":"Dashboard","tab":"4b0b2705.f67aa8","order":1,"disp":true,"width":"27","collapse":false},{"id":"d230d6d2.5ad778","type":"ui_group","z":"","name":"Enterance","tab":"4b0b2705.f67aa8","order":2,"disp":true,"width":"27","collapse":false},{"id":"470d4450.20d864","type":"ui_group","z":"","name":"Rider","tab":"4b0b2705.f67aa8","order":3,"disp":true,"width":"27","collapse":false},{"id":"e7295501.9fafa","type":"ui_group","z":"","name":"Pay-Box","tab":"4b0b2705.f67aa8","order":4,"disp":true,"width":"27","collapse":false},{"id":"4b0b2705.f67aa8","type":"ui_tab","z":"","name":"ControllerInterface","icon":"dashboard","order":10,"disabled":false,"hidden":false}]