NodeRED_Controller_Dashboard/flows.json
[{"id":"30343774.c7922","type":"tab","label":"ControllerInterface","disabled":false,"info":""},{"id":"4a51821b.c89c04","type":"comment","z":"30343774.c7922","name":"DBFormat","info":"EType;ControllerMAC;EntranceMAC;EntranceName\n\nor\n\nRType;ControllerMAC;RiderMAC;AN1Data;AN2Data\n\nor\n\nPType;ControllerMAC;PayBoxMAC;occupiedStatus;MicroSwitch","x":730,"y":120,"wires":[]},{"id":"a62e3fd7.d8b2a8","type":"ui_switch","z":"30343774.c7922","name":"","label":"<b>Controller Status</b>","tooltip":"","group":"202958ff.c81af8","order":2,"width":5,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":500,"y":200,"wires":[[]]},{"id":"281acc42.1cb96c","type":"ui_switch","z":"30343774.c7922","name":"","label":"<b>Rider Status</b>","tooltip":"","group":"202958ff.c81af8","order":3,"width":5,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":500,"y":280,"wires":[[]]},{"id":"68dc0030.9c0b5","type":"ui_switch","z":"30343774.c7922","name":"","label":"<b>Entrance Status</b>","tooltip":"","group":"202958ff.c81af8","order":4,"width":5,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":510,"y":240,"wires":[[]]},{"id":"22832902.f9bfd6","type":"ui_text","z":"30343774.c7922","group":"202958ff.c81af8","order":1,"width":27,"height":1,"name":"","label":"Hardware Status","format":"{{msg.payload}}","layout":"row-left","x":480,"y":160,"wires":[]},{"id":"a209198f.dbdac8","type":"inject","z":"30343774.c7922","name":"","topic":"","payload":"Everything is Online","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":80,"wires":[["22832902.f9bfd6"]]},{"id":"fe328d57.a0def","type":"ui_text","z":"30343774.c7922","group":"b10fc8a3.7cbaf","order":1,"width":14,"height":1,"name":"","label":"E_ID","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":400,"wires":[]},{"id":"95b67716.f013c8","type":"ui_text","z":"30343774.c7922","group":"b10fc8a3.7cbaf","order":3,"width":15,"height":1,"name":"","label":"E_Scanned RFID","format":"{{msg.payload}}","layout":"row-spread","x":490,"y":440,"wires":[]},{"id":"c345a5eb.335c8","type":"inject","z":"30343774.c7922","name":"","topic":"","payload":"000a959d6816","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":400,"wires":[["fe328d57.a0def"]]},{"id":"9a2567f4.b7f358","type":"inject","z":"30343774.c7922","name":"","topic":"","payload":"Jhon Doe","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":440,"wires":[["95b67716.f013c8"]]},{"id":"dc6e9397.4423f8","type":"ui_text","z":"30343774.c7922","group":"202958ff.c81af8","order":6,"width":14,"height":1,"name":"","label":"Controller ID","format":"{{msg.payload}}","layout":"row-spread","x":490,"y":320,"wires":[]},{"id":"4800a4fe.bbef6c","type":"inject","z":"30343774.c7922","name":"","topic":"","payload":"991a253b68f6","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":320,"wires":[["dc6e9397.4423f8"]]},{"id":"d3d75ee.694a42","type":"ui_text","z":"30343774.c7922","group":"13f33f3f.5b33c9","order":1,"width":12,"height":1,"name":"","label":"R_ID","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":560,"wires":[]},{"id":"4718887a.559bf8","type":"ui_text","z":"30343774.c7922","group":"13f33f3f.5b33c9","order":4,"width":12,"height":1,"name":"","label":"Arduino Nano 1","format":"{{msg.payload}}","layout":"row-spread","x":260,"y":620,"wires":[]},{"id":"74cdd9c4.8d8e","type":"inject","z":"30343774.c7922","name":"","topic":"","payload":"333a152c6817","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":560,"wires":[["d3d75ee.694a42"]]},{"id":"68b24263.ac564c","type":"ui_text","z":"30343774.c7922","group":"13f33f3f.5b33c9","order":9,"width":12,"height":1,"name":"","label":"R_Scanned RFID","format":"{{msg.payload}}","layout":"row-spread","x":290,"y":660,"wires":[]},{"id":"2535531.d9e742c","type":"ui_text","z":"30343774.c7922","group":"13f33f3f.5b33c9","order":12,"width":12,"height":1,"name":"","label":"UltrasonicSensor 1","format":"{{msg.payload}}","layout":"row-spread","x":290,"y":700,"wires":[]},{"id":"65950d31.8ae814","type":"ui_text","z":"30343774.c7922","group":"13f33f3f.5b33c9","order":15,"width":12,"height":1,"name":"","label":"UltrasonicSensor 2","format":"{{msg.payload}}","layout":"row-spread","x":290,"y":740,"wires":[]},{"id":"b74f39c.d5fb8c8","type":"ui_gauge","z":"30343774.c7922","name":"","group":"13f33f3f.5b33c9","order":6,"width":6,"height":3,"gtype":"wave","title":"Battery Level","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":300,"y":820,"wires":[]},{"id":"ffb00f45.4ded6","type":"inject","z":"30343774.c7922","name":"","topic":"","payload":"Mark Jhon","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":660,"wires":[["68b24263.ac564c"]]},{"id":"24049670.458722","type":"inject","z":"30343774.c7922","name":"","topic":"","payload":"12 cm","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":700,"wires":[["2535531.d9e742c"]]},{"id":"91c122c.a05f7e","type":"inject","z":"30343774.c7922","name":"","topic":"","payload":"3 cm","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":740,"wires":[["65950d31.8ae814"]]},{"id":"9b988855.ad42b","type":"inject","z":"30343774.c7922","name":"","topic":"","payload":"80","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":820,"wires":[["b74f39c.d5fb8c8"]]},{"id":"a61708ac.6725b8","type":"ui_text","z":"30343774.c7922","group":"13f33f3f.5b33c9","order":17,"width":12,"height":1,"name":"","label":"Arduino Nano 2","format":"{{msg.payload}}","layout":"row-spread","x":120,"y":900,"wires":[]},{"id":"b439d5cb.74bfa8","type":"ui_button","z":"30343774.c7922","name":"","group":"13f33f3f.5b33c9","order":26,"width":10,"height":1,"passthru":false,"label":"Expand","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Expand","payloadType":"str","topic":"","x":140,"y":1040,"wires":[["2d48bc4c.0492a4"]]},{"id":"bf9a89f8.1b12e","type":"ui_button","z":"30343774.c7922","name":"","group":"13f33f3f.5b33c9","order":27,"width":10,"height":1,"passthru":false,"label":"Shrink","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Shrink","payloadType":"str","topic":"","x":130,"y":1080,"wires":[["2d48bc4c.0492a4"]]},{"id":"26a0501e.462f2","type":"ui_text","z":"30343774.c7922","group":"13f33f3f.5b33c9","order":23,"width":12,"height":1,"name":"","label":"Linear Motors","format":"{{msg.payload}}","layout":"row-spread","x":120,"y":1000,"wires":[]},{"id":"5aeb43b4.f5a26c","type":"ui_text","z":"30343774.c7922","group":"13f33f3f.5b33c9","order":30,"width":11,"height":1,"name":"","label":"Rotational Motors","format":"{{msg.payload}}","layout":"row-spread","x":130,"y":1120,"wires":[]},{"id":"6403f613.08c59","type":"ui_button","z":"30343774.c7922","name":"","group":"13f33f3f.5b33c9","order":34,"width":10,"height":1,"passthru":false,"label":"Clockwise","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Clockwise","payloadType":"str","topic":"","x":140,"y":1160,"wires":[["2d48bc4c.0492a4"]]},{"id":"e4a769fe.6f9e","type":"ui_button","z":"30343774.c7922","name":"","group":"13f33f3f.5b33c9","order":33,"width":10,"height":1,"passthru":false,"label":"Anti-clockwise","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Anti-clockwise","payloadType":"str","topic":"","x":160,"y":1200,"wires":[["2d48bc4c.0492a4"]]},{"id":"8cbe2ea1.db1328","type":"ui_text","z":"30343774.c7922","group":"13f33f3f.5b33c9","order":37,"width":12,"height":1,"name":"","label":"Gyro Motor","format":"{{msg.payload}}","layout":"row-spread","x":110,"y":1240,"wires":[]},{"id":"a792768b.119a08","type":"ui_button","z":"30343774.c7922","name":"","group":"13f33f3f.5b33c9","order":40,"width":13,"height":1,"passthru":false,"label":"Parallel to Ground","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Parallel to Ground","payloadType":"str","topic":"","x":140.1999969482422,"y":1291.199951171875,"wires":[["2d48bc4c.0492a4"]]},{"id":"8c40ba66.8f327","type":"ui_text","z":"30343774.c7922","group":"13f33f3f.5b33c9","order":43,"width":12,"height":1,"name":"","label":"Conveyor Motor","format":"{{msg.payload}}","layout":"row-spread","x":140,"y":1340,"wires":[]},{"id":"a85b5f86.605be","type":"ui_button","z":"30343774.c7922","name":"","group":"13f33f3f.5b33c9","order":46,"width":11,"height":1,"passthru":false,"label":"Forward","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Forward","payloadType":"str","topic":"","x":140,"y":1380,"wires":[["2d48bc4c.0492a4"]]},{"id":"ac4af070.176b18","type":"ui_button","z":"30343774.c7922","name":"","group":"13f33f3f.5b33c9","order":47,"width":11,"height":1,"passthru":false,"label":"Backward","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Backward","payloadType":"str","topic":"","x":140,"y":1420,"wires":[["2d48bc4c.0492a4"]]},{"id":"c43694e6.a373d8","type":"ui_text","z":"30343774.c7922","group":"13f33f3f.5b33c9","order":20,"width":20,"height":1,"name":"","label":"MPU6050","format":"{{msg.payload}}","layout":"row-spread","x":340,"y":940,"wires":[]},{"id":"ce0b0d9b.4917a","type":"inject","z":"30343774.c7922","name":"","topic":"","payload":"gX=22 , gY=30 , gZ=12","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":940,"wires":[["eff9e001.97632","c43694e6.a373d8"]]},{"id":"77ac743e.0e503c","type":"ui_text","z":"30343774.c7922","group":"313db189.d6cd26","order":1,"width":20,"height":1,"name":"","label":"PB_ID","format":"{{msg.payload}}","layout":"row-spread","x":330,"y":1480,"wires":[]},{"id":"ae51bd60.6c2da","type":"ui_switch","z":"30343774.c7922","name":"","label":"Occupied","tooltip":"","group":"313db189.d6cd26","order":4,"width":16,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":130,"y":1560,"wires":[[]]},{"id":"2322f9c4.9e83c6","type":"ui_switch","z":"30343774.c7922","name":"","label":"MicroSwitch","tooltip":"","group":"313db189.d6cd26","order":7,"width":17,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":130,"y":1600,"wires":[[]]},{"id":"5873e1a.535042","type":"inject","z":"30343774.c7922","name":"","topic":"","payload":"543a959d6816","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":1460,"wires":[["77ac743e.0e503c"]]},{"id":"f9a4d328.0fdca8","type":"mqtt in","z":"30343774.c7922","name":"","topic":"out/controller/c_id","qos":"0","datatype":"auto","broker":"3bb48c9a.1ba79c","x":100,"y":280,"wires":[["dc6e9397.4423f8","f9558e1d.5e62"]]},{"id":"e9e4e6eb.bd369","type":"mqtt in","z":"30343774.c7922","name":"","topic":"out/controller/entrance","qos":"0","datatype":"auto","broker":"3bb48c9a.1ba79c","x":200,"y":480,"wires":[["95b67716.f013c8"]]},{"id":"8a67f032.36bd88","type":"mqtt in","z":"30343774.c7922","name":"","topic":"out/controller/e_id","qos":"0","datatype":"auto","broker":"3bb48c9a.1ba79c","x":150,"y":360,"wires":[["fe328d57.a0def","9ae2d8d7.a1f35"]]},{"id":"19e6b356.d97d7d","type":"mqtt in","z":"30343774.c7922","name":"","topic":"out/controller/p_id","qos":"0","datatype":"auto","broker":"3bb48c9a.1ba79c","x":90,"y":1520,"wires":[["77ac743e.0e503c"]]},{"id":"276f755c.d97cda","type":"mqtt in","z":"30343774.c7922","name":"","topic":"out/controller/paybox","qos":"0","datatype":"auto","broker":"3bb48c9a.1ba79c","x":90,"y":1640,"wires":[["2322f9c4.9e83c6","6aac4da3.001b54"]]},{"id":"6aac4da3.001b54","type":"debug","z":"30343774.c7922","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":400,"y":1640,"wires":[]},{"id":"9ae2d8d7.a1f35","type":"debug","z":"30343774.c7922","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":520,"wires":[]},{"id":"4e466a29.3c1c44","type":"inject","z":"30343774.c7922","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":180,"wires":[["a62e3fd7.d8b2a8","68dc0030.9c0b5","281acc42.1cb96c"]]},{"id":"d51a3acc.0c0ad8","type":"mqtt in","z":"30343774.c7922","name":"","topic":"out/controller/r_id","qos":"0","datatype":"auto","broker":"3bb48c9a.1ba79c","x":160,"y":520,"wires":[["d3d75ee.694a42"]]},{"id":"f9558e1d.5e62","type":"function","z":"30343774.c7922","name":"ControllerHeart","func":"n=msg.payload.length;\nif(n>1){\n    msg.payload=\"true\";\n    return msg;\n}\nelse{\n    msg.payload=\"false\";\n    return msg;\n}","outputs":1,"noerr":0,"x":280,"y":240,"wires":[["a62e3fd7.d8b2a8","9ae2d8d7.a1f35"]]},{"id":"ecfe9da6.54a55","type":"function","z":"30343774.c7922","name":"","func":"n1=(Math.random() * (130.12 - 0.0200) + 0.0200).toFixed(4)\nn2=(Math.random() * (130.12 - 0.0200) + 0.0200).toFixed(4)\nn3=(Math.random() * (130.12 - 0.0200) + 0.0200).toFixed(4)\nk=\"gX=\"+n1+\" \"+\"gY=\"+n2+\" \"+\"gZ=\"+n3;\nmsg.payload=k;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":1000,"wires":[["c43694e6.a373d8"]]},{"id":"2d48bc4c.0492a4","type":"ui_toast","z":"30343774.c7922","position":"top right","displayTime":"2","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":440,"y":1060,"wires":[]},{"id":"eff9e001.97632","type":"trigger","z":"30343774.c7922","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"-250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":400,"y":1100,"wires":[[]]},{"id":"202958ff.c81af8","type":"ui_group","z":"","name":"Dashboard","tab":"d1125b68.a68ea","order":1,"disp":true,"width":"27","collapse":false},{"id":"b10fc8a3.7cbaf","type":"ui_group","z":"","name":"Enterance","tab":"d1125b68.a68ea","order":2,"disp":true,"width":"27","collapse":false},{"id":"13f33f3f.5b33c9","type":"ui_group","z":"","name":"Rider","tab":"d1125b68.a68ea","order":3,"disp":true,"width":"27","collapse":false},{"id":"313db189.d6cd26","type":"ui_group","z":"","name":"Pay-Box","tab":"d1125b68.a68ea","order":4,"disp":true,"width":"27","collapse":false},{"id":"3bb48c9a.1ba79c","type":"mqtt-broker","z":"","name":"hivemq","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d1125b68.a68ea","type":"ui_tab","z":"","name":"ControllerInterface","icon":"dashboard","order":10,"disabled":false,"hidden":false}]